/dependency-reduced-pom.xml

/target/
/node/
/node_modules/

# Location for built plugin
/runtime/graylog/plugin/
/runtime/.env

# For backend tests in python
/validation/__pycache__/
/validation/venv/

# IDE
.idea
*.iml
