name: Continuous Integration
on: push
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
        with:
          path: plugin
      - name: Setup Java JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: 8
          distribution: temurin
          cache: maven
      - name: Retrieve variables from pom
        id: requestPom
        run: |
          cd plugin
          echo ::set-output name=name::$(mvn help:evaluate -Dexpression=project.name -q -DforceStdout)
          echo ::set-output name=version::$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
          echo ::set-output name=graylogVersion::$(mvn help:evaluate -Dexpression=project.parent.version -q -DforceStdout)
      - name: Cache Graylog
        uses: actions/cache@v2
        id: cache
        with:
          path: graylog2-server
          key: ${{ steps.requestPom.outputs.graylogVersion }}
      - name: Check out Graylog
        if: steps.cache.outputs.cache-hit != 'true'
        uses: actions/checkout@v2
        with:
          repository: Graylog2/graylog2-server
          ref: ${{ steps.requestPom.outputs.graylogVersion }}
          path: graylog2-server
      - name: Build Graylog
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          cd graylog2-server
          mvn compile -DskipTests=true --batch-mode
      - name: Cache node_modules
        uses: actions/cache@v2
        with:
          path: plugin/node_modules
          key: ${{ hashFiles('plugin/yarn.lock') }}
      - name: Build plugin
        run: |
          cd plugin
          mvn package --batch-mode
      - name: Check license headers
        run: |
          cd plugin
          mvn license:check
      - name: Archive jar
        uses: actions/upload-artifact@v2
        with:
          name: jar
          path: plugin/target/${{ steps.requestPom.outputs.name }}-${{ steps.requestPom.outputs.version }}.jar
          if-no-files-found: error

  backendTests:
    runs-on: ubuntu-20.04
    needs: build
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Download jar from build
        uses: actions/download-artifact@v2
        with:
          name: jar
          path: runtime/graylog/plugin
      - name: Execute tests
        working-directory: validation
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install -r requirements.txt
          python -m unittest
  release:
    runs-on: ubuntu-20.04
    needs: [build, backendTests]
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Download jar from build
        uses: actions/download-artifact@v2
        with:
          name: jar
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            *.jar
          fail_on_unmatched_files: true
